        	<div class="news">
			<% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
        	</div>
        	<div class="latest">
        	</div>

